@model IEnumerable<BookStore.Models.Author>

@{
    ViewData["Title"] = "Authors";
}

<h1>Index</h1>

<p>
    <a asp-controller="Author" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorFirst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorLast)
            </td>
            <td>
                <a asp-controller="Author" asp-action="Edit" asp-route-id="@item.AuthorId">Edit</a> |
                <a asp-controller="Author" asp-action="Delete" asp-route-id="@item.AuthorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
